.cool-button {
  background-color: green;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.download-icon::before {
  content: "\2193"; /* Unicode character code for the download icon */
  margin-right: 5px;
}

.line {
  border: none;
  border-top: 2px solid black;
  margin-top: 10px;
}
